.grid{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 200px 1fr 100px;
    grid-template-areas: "head head head" "menu contenido enlace" "foot foot foot";
}
header{
    grid-area:head;
    background-color: blueviolet;
}
nav{
    grid-area:menu;
    background-color: cornflowerblue;
}
section{
    grid-area:contenido;
    background-color: indigo;
}
aside{
    grid-area:enlace;
    background-color: darkmagenta;
}
footer{
    grid-area:foot;
    background-color: darkorchid;
}



