body {
    position: relative;
    text-align: center;
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
    font-family: Helvetica;
}
body h1 {
    padding-top: 100px;
    font-size: 7em;
    font-weight: 100;
    color: white;
}
  
body div {
    font-size: 2em;
    font-style: italic;
}
