#caja1{
    height: 1000px;
}

#caja2{
    background-color: red;
    color: white;
    text-align: center;
    font-size: 280%;
}

#caja3{
    background-color: gray;
    color: white;
    font-size: 80%;
    font-family: Arial;
}

#caja4{
    color: red;
    font-size: 90%;
    font-family: Arial;
}

#caja5{
    font-size: 150%;
    font-weight: bold;
    font-family: Arial;
}

#caja6{
    width: 380px;
    height: 200px;
    float: right;
}

#caja7{
    text-align: justify;
    font-family: Arial;
    color: dimgrey;
}

#caja8{
    background-color: red;
    color: white;
    width: 180px;
    float: right;
    font-family: Arial;
}
