#contenedor{
    width: 600px;
    margin: auto;
    background-color: floralwhite;
    padding-left: 10px;
    font-family: Calibri;
}
span{
    width: 100px;
    display: block;
    float: left;
    padding-left: 4px;
}
.nom{
    background-color: darkgray;
}
.titu{
    background-color: #0df39b;
}
li{
    list-style: none;
    margin-top: 1px;
}
ul{
    margin: 0px;
    padding-left: 0px;
}
.tituemail{
    width: 350px;
    background-color: #0df39b;
}
.nomemail{
    width: 350px;
    background-color: darkgray;
}
#aviso{
    background-color: pink;
    width: 500px;
    text-align: right;
}
#aviso2{
    background-color: pink;
    width: 500px;
    text-align: right;
}